app/code/community/Listrak/Remarketing/etc/wsi.xml

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	/**
	* Listrak Remarketing Magento Extension Ver. 1.0.0 - © 2011 Listrak, Inc. 
	*/
-->
<wsdl:definitions xmlns:typens="urn:{{var wsdl.name}}"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             name="{{var wsdl.name}}"
             targetNamespace="urn:{{var wsdl.name}}">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:{{var wsdl.name}}">
            <xsd:complexType name="listrakRemarketingClickEntityArray">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="complexObjectArray" type="typens:listrakRemarketingClickEntity" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="listrakRemarketingClickEntity">
                <xsd:sequence>
					<xsd:element name="click_id" type="xsd:string"/>
					<xsd:element name="querystring" type="xsd:string"/>
					<xsd:element name="click_date" type="xsd:string"/>
					<xsd:element name="token_uid" type="xsd:string"/>
					<xsd:element name="session_id" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            
			<xsd:element name="listrakRemarketingClickListRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="storeId" type="xsd:string" />
                        <xsd:element minOccurs="0" maxOccurs="1" name="startDate" type="xsd:string" />
                        <xsd:element minOccurs="0" maxOccurs="1" name="endDate" type="xsd:string" />
                        <xsd:element minOccurs="0" maxOccurs="1" name="perPage" type="xsd:string" />
                        <xsd:element minOccurs="0" maxOccurs="1" name="page" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="listrakRemarketingClickListResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" maxOccurs="1" name="result" type="typens:listrakRemarketingClickEntity" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="listrakRemarketingClickListRequest">
        <wsdl:part name="parameters" element="typens:listrakRemarketingClickListRequestParam" />
    </wsdl:message>
    <wsdl:message name="listrakRemarketingClickListResponse">
        <wsdl:part name="parameters" element="typens:listrakRemarketingClickListResponseParam" />
    </wsdl:message>
    <wsdl:portType name="{{var wsdl.handler}}PortType">
        <wsdl:operation name="listrakRemarketingClickList">
            <wsdl:documentation>Set_Get current store view</wsdl:documentation>
            <wsdl:input message="typens:listrakRemarketingClickListRequest" />
            <wsdl:output message="typens:listrakRemarketingClickListResponse" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="{{var wsdl.handler}}Binding" type="typens:{{var wsdl.handler}}PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="listrakRemarketingClickList">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="{{var wsdl.name}}Service">
        <wsdl:port name="{{var wsdl.handler}}Port" binding="typens:{{var wsdl.handler}}Binding">
            <soap:address location="{{var wsdl.url}}" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
